<div class="{{ theme.news_card_classes }}">
    <div class="{{ theme.news_image_classes }}"{% if image %} style="background-image: url('{{ image }}'); background-size: cover; background-position: center;"{% endif %}>
        {% if text %}<span class="{{ theme.news_image_text_classes }}">{{ text }}</span>{% endif %}
    </div>
    <div class="{{ theme.news_content_classes }}">
        <h4 class="font-telex {{ theme.news_title_classes }}">{{ title }}</h4>
        <p class="{{ theme.news_text_classes }}">{{ excerpt }}</p>
        <div class="{{ theme.news_meta_classes }}">{{ formatted_date }}</div>
    </div>
</div>