<!-- Home page template - Main landing page with news and projects sections. Not reusable. -->
{% extends 'layouts/home.html' %}

{% set current_page = 'home' %}
{% set is_detail_page = false %}

{% block sections %}
    <!-- What's New Section -->
    {% set section_title = site.news_title %}
    {% set section_emoji = site.news_emoji %}
    {% set section_subtitle = site.news_subtitle %}
    {% set section_link = 'whatsnew.html' %}
    {% set section_link_text = 'see all' %}
    {% set section_content = news_content %}
    {% set grid_layout = false %}
    {% include 'components/section.html' %}

    <!-- Projects Section -->
    {% set section_title = site.projects_title %}
    {% set section_emoji = site.projects_emoji %}
    {% set section_subtitle = site.projects_subtitle %}
    {% set section_link = 'projects.html' %}
    {% set section_link_text = 'see all' %}
    {% set section_content = projects_content %}
    {% set grid_layout = true %}
    {% include 'components/section.html' %}
{% endblock %}