<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card h-100 shadow-sm border-0">
        <div class="image-base image-square d-flex align-items-center justify-content-center text-white fw-bold">{{ text }}</div>
        <div class="card-body">
            <h5 class="font-telex card-title h6 fw-normal">
                <a href="projects/{{ id }}.html" class="text-decoration-none">{{ title }}</a>
            </h5>
            <p class="card-text text-muted small">{{ excerpt }}</p>
            <div class="small text-muted fw-medium">Status: {{ status }}</div>
        </div>
    </div>
</div>